@import 'tailwindcss';

:root {
	/* --background: #ffffff; */
	--background: #fff3f1;
	--foreground: #171717;
}

@utility no-scrollbar {
	scrollbar-width: none;
	-ms-overflow-style: none;
	&::-webkit-scrollbar {
		display: none;
	}
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);

	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--font-caprasimo: var(--font-caprasimo);
	--font-zenitha: var(--font-zenitha-classic);
}

@theme {
	--color-vintage-copper: #9f5f45;
	--color-dwarven-bronze: #bc5f2b;
	--color-oak-palace: #b77042;
	--color-track-and-field: #dd6856;
	--color-fuzzy-wuzzy: #d06466;
	--color-annatto: #8f573f;
	/* --color-jinza-sunflower: #ef8279; */

	--color-jinza-safflower-1: #ef8279;
	--color-jinza-safflower-2: #f08f87;
	--color-jinza-safflower-3: #f29d96;
	--color-jinza-safflower-4: #f4aba5;
	--color-jinza-safflower-5: #f6b9b4;
	--color-jinza-safflower-6: #f7c7c3;
	--color-jinza-safflower-7: #f9d5d2;
	--color-jinza-safflower-8: #fbe3e1;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: var(--background);
}

::view-transition-new(*),
::view-transition-old(*) {
	overflow: hidden;
	grid-row: 1 / -1;
	height: 100%;
	width: 100%;
	object-fit: fill;
}

h1,
h2 {
	font-feature-settings: 'ss01';
}
